/* Colors */
$red: #ff4d4f;
$redLight: #ffccc7;
$redDark: #820014;

$yellow: #ffec3d;
$ryellowLight: #ffffb8;
$yellowDark: #876800;

$green: #73d13d;
$greenLight: #d9f7be;
$greenDark: #135200;

$purple: #9254de;
$purpleLight: #efdbff;
$purpleDark: #22075e;

$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$primary: #d60600;

/* Elements */
$textGrey: #958993;
